.homeRoot {
    color: #444;
    background: #f0f0f0;
}

.headerImage {
    background-image: url('images/header-light.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.headerMottoBackground {
    background: linear-gradient(to bottom, #cccccc60, #70708080);
    padding: 40px;
    width: 100%;
    margin-top: 100px;
}

.alternateSection {
    background: #e0e0e0;
    color: #444;
}

.centerBanner {
    text-align: center;
}

.buttoncard {
    background-color: #3b6291;
    border-radius: 0.5rem;
    padding: 0.5em 0.9em;
    margin: 10px;
    max-width: 15em;
}

.buttoncard:link {
    color: #ddd;
}

.buttoncard:hover {
    background: #3c73b7;
}

.sponsorcard {
    background-color: #1b2a4e;
    border-radius: 0.5rem;
    padding: 2em 0.5em;
    margin: 30px;
    max-width: 15em;
    flex: 1;
}

.sponsorcard:hover {
    background: #2b3a5e;
}

.text-muted {
    color: #869ab8!important;
}

.text-white {
    color: #ffffff!important;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    min-width: 92px;
}

.fw-bold {
    margin: 1em 0em 0em 0em;
    font-weight: 600;
}

section {
    padding: 80px 100px;
    background: transparent;
}

section p {
    margin: 20px 45px;
    line-height: 165%;
}

.homeRoot {
    font-size: 1.3rem;
}

.greenText {
    color: #27af27;
}

.centerText {
    text-align: center;
}

.bigParagraph {
    padding: 20px 20px;
    background: linear-gradient(to right, #00bfff30 0%,transparent 100%);
}

.bigText {
    font-size: 1.8rem;
}

.sponsorLink {
    margin: 30px;
    display: flex;
    font-size: 1.5rem;
    border-color: #645f99;
    border-width: 1px;
    border-style: solid;
    background: linear-gradient(to bottom, #54b6f7 0%,#3077c8 100%);
    text-align: center;
    border-radius: 10px;
}

.sponsorLink :hover {
    background: linear-gradient(to bottom, #54b6f7 0%,#1998d8 100%);
    border-radius: 10px;
}

.kofiSponsorImage {
    background-image: url("https://storage.ko-fi.com/cdn/useruploads/post/c6df0014-30af-49cf-b688-dac43944d681_27ae1978-41aa-4384-b304-cc306d1ab1ba.png");
    background-repeat: no-repeat;
    background-position: 4px 7px;
    background-size: 20px 20px;
    padding-left: 22px;
    color: white;
    margin: 15px 50px;
    min-width: 90px;
}

.githubSponsorImage {
    background-image:  url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><path fill="hotpink" d="m8 14.25.345.666a.75.75 0 0 1-.69 0l-.008-.004-.018-.01a7.152 7.152 0 0 1-.31-.17 22.055 22.055 0 0 1-3.434-2.414C2.045 10.731 0 8.35 0 5.5 0 2.836 2.086 1 4.25 1 5.797 1 7.153 1.802 8 3.02 8.847 1.802 10.203 1 11.75 1 13.914 1 16 2.836 16 5.5c0 2.85-2.045 5.231-3.885 6.818a22.066 22.066 0 0 1-3.744 2.584l-.018.01-.006.003h-.002ZM4.25 2.5c-1.336 0-2.75 1.164-2.75 3 0 2.15 1.58 4.144 3.365 5.682A20.58 20.58 0 0 0 8 13.393a20.58 20.58 0 0 0 3.135-2.211C12.92 9.644 14.5 7.65 14.5 5.5c0-1.836-1.414-3-2.75-3-1.373 0-2.609.986-3.029 2.456a.749.749 0 0 1-1.442 0C6.859 3.486 5.623 2.5 4.25 2.5Z"></path></svg>');
    background-repeat: no-repeat;
    background-position: 4px 10px;
    padding-left: 30px;
    color: white;
    min-width: 90px;
    margin: 15px 50px;
}

li a.blueLink:link, p a.blueLink:link {
    text-decoration: none;
}

li a.blueLink:hover, p a.blueLink:hover {
    text-decoration:underline;
}